# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
build
target
.classpath*
.settings
*.pxl
*~
*.iml
.DS_Store
.mvn
/mvn
TestParams.java
core-site.xml
hdfs-site.xml
mvnw.cmd
logs/
package-info.java
*.sql
*.txt
*.csv
resources/*.xml
*.so
*.o
.vscode

